mixin card_for_room-preview(options)
    -let number = options.number || 888
    -let category = options.category || ""
    -let period = options.period || "в сутки"
    -let price = options.price || 9990;
    -let rating = options.rating || 0;
    -let jpg = options.jpg || ["room_preview1","room_preview2"]
    -let feeds = options.feeds || 0
    .card__room-preview
        .card__room-preview__image
            each val in jpg
                img(src=require(`Images/${val}.jpg`).default)
    .card__room-data.card__room-data_small
        .card__room-data__number= number
            span.card__room-data__category= category
        .card__room-data__price=price
            span.card__room-data__period= period
    .card__room-feedback
        +rate({stars: rating})
        .card__room-feedback__feeds
            strong=feeds
            |  Отзывов